body {
  margin: 0px;
}

/* .menu-bar {
  border: 1px solid black;
} */

.main-container {
  padding: 0px 50px;
}

.post {
  margin: 30px 0px;
  padding: 20px;
}

.post-title {
  font-size: 20px;
}

.news-story-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-footer-button {
  background: none;
  border: none;
  cursor: pointer;
}

.fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}