body {
  margin: 0px;
  background: #192835;
  color: #FDFFFF;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

button {
  outline: none;
  box-shadow: none;
}

input {
  outline: none;
  box-shadow: none;
}

.hidden-scroll::-webkit-scrollbar {
  display: none;
}

::placeholder {
  color: #FDFFFF;
}

.content-container {
  max-width: 80vw;
  margin: 50px auto 0px auto;
}

.main-container {
  padding: 0px 50px;
}

.search-users-container {
  position: fixed;
  width: 20%;
}

.news-story-post {
  margin: 0px 0px 50px 0px;
  padding: 5px 20px;
  background: #253a4d;
  color: #FDFFFF;
  border-radius: 4px;
}

.user-post {
  margin: 0px 0px 50px 0px;
  padding: 5px 20px;
  background: #253a4d; 
  color: #FDFFFF;
  border-radius: 4px;
}

.user-post-content-container {
  display: block;
  margin: 20px auto;
  width: 95%;
}

.shared-post-container {
  margin-bottom: 20px;
  border: 1px solid #3d6081;
  border-radius: 4px;
}

.shared-post-container > div {
  margin: 30px auto;
  width: 80%;
}

.user-post-username {
  text-decoration: underline;
  font-size: 11pt;
  cursor: pointer;
  float: left;
}

.user-post-shared {
  margin-left: 8px;
  font-size: 11pt;
}

.user-post-content {
  padding: 35px 25px 0px 25px;
  font-size: 18pt;
}

.post-footer {
  padding-top: 10px;
  border-top: 2px solid #3d6081;
}

.post-icon {
  padding: 0px 0px 12px 0px;
}

.close-chat-button {
  margin-top:15px;
  padding: 6px;
  border-radius: 5px;
  background: #3d6081;
  border: 1px solid #969696;
  color: #FDFFFF;
  width: 40%;
}

.new-conversation-search-user-container {
  margin: auto;
  width: 80%;
  padding: 5px;
}

.bulletin-modal {
  position: 'absolute';
  width: 25%;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  background-color: #192835;
  padding: 20px;
}

.post-title {
  padding: 20px 0px;
  font-size: 18px;
}

.news-story-content-container {
  display: block;
  margin: 20px auto;
  width: 90%;
  background: #203343;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.news-story-content-container > img {
  width: 100%;
  height: auto;
}

.post-date {
  font-size: 10pt;
  float: right;
}

.post-content {
  padding: 20px;
  font-size: 12pt;
}

.news-story-author {
  padding: 20px;
  font-size: 10pt;
}

.post-bottom {
  margin-bottom: 30px;
}

.post-bottom > div {
  font-size: 10pt;
  text-align: right;
}

.news-story-header {
  margin-bottom: 30px;
}

.news-story-source {
  font-size: 10pt;
  float: left;
}

.comments-container {
  border-top: 2px solid #3d6081;
}

.comments-list {
  margin: auto;
}

.comment {
  margin: 20px 0px;
  padding: 10px;
  background: #203343;
  border-radius: 10px;
}

.comment-user {
  font-size: 11pt;
  text-decoration: underline;
  padding: 0px 0px 5px 0px;
  cursor: pointer;
}

.comment-content {
  font-size: 14pt;
}

.comment-date {
  text-align: right;
  font-size: 8pt;
}

.comment-form > input {
  display: block;
  margin: 20px auto;
  padding: 12px;
  width: 95%;
  background: #203343;
  border: 1px solid #192835;
  color: #FDFFFF;
  border-radius: 20px;
}

.bulletin-form {
  padding-bottom: 70px;
}

.bulletin-form > input[type=text] {
  display: block;
  margin: auto auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #253a4d;
  color: #FDFFFF;
  border: 1px solid #192835;
  border-radius: 20px;
}

.bulletin-form > input[type=submit] {
  display: block;
  margin-top: 10px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #253a4d;
  color: #FDFFFF;
  border: 2px solid #192835;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}

.bulletin-form > label {
  padding-left: 5px;
}

.update-account-container {
  padding-top: 30px;
  background: #253a4d;
  border-radius: 20px;
}
.update-account-form-container {
  margin: auto;
  width: 80%;
}

.user-header {
  background: #394852;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.user-header-username {
  font-size: 18pt;
  padding-bottom: 20px;
  border-bottom: 2px solid #192835;
}

.user-header-info {
  padding: 20px 20px 0px 20px;
}

.user-header-bio {
  font-size: 10pt;
  padding-bottom: 5px;
}

.user-header-member-since {
  font-size: 10pt;
}

.user-header-count {
  font-size: 10pt;
  padding-bottom: 5px;
  text-align: right;
}

.search-users-list {
  background: #253a4d;
  border-radius: 10px;
}

.update-account-form {
  padding-bottom: 100px;
}

.conversations-container {
  padding: 10px 20px;
  background: #253a4d;
  border-radius: 4px;
}

.conversation-container {
  border-bottom: 1px solid #3d6081;
  padding: 15px 0px;
}

.conversation-participants {
  padding-bottom: 5px;
  font-size: 14pt;
  text-decoration: underline;
}

.conversation-last-message {
  font-size: 10pt;
}

.new-conversation-button {
  display: block;
  margin: 20px auto;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.bulletin-form-secondary {
  padding-bottom: 0px;
}

.bulletin-form-secondary > input[type=text] {
  display: block;
  margin: auto auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
}

.bulletin-form-secondary > input[type=submit] {
  display: block;
  margin-top: 10px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  float: right;
}

.bulletin-form-secondary > label {
  padding-left: 5px;
}

.new-participants-container {
  background: #192835;
  padding: 20px;
  margin-top: 40px;
  border-radius: 4px;
}

.new-participants-title {
  font-size: 14pt;
  text-decoration: underline;
}

.new-participants {
  margin-top: 5px;
  font-size: 12pt;
}

.start-conversation-form {
  text-align: center;
}

.start-conversation-button {
  width: 100%;
  display: block;
  margin: 40px auto;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.notifications-container {
  padding: 10px 20px;
  background: #253a4d;
  border-radius: 4px;
}

.notification-container {
  border-bottom: 1px solid #3d6081;
  padding: 20px 0px;
}

.notification-date {
  text-decoration: underline;
  margin-bottom: 5px;
  font-size: 8pt;
}

.notification-content {
  font-size: 14pt;
}

.follow-accept-button {
  margin: 10px 10px 0px 0px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.follow-deny-button {
  margin: 10px 0px 0px 10px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.bulletin-form-tertiary {
  padding-bottom: 0px;
}

.bulletin-form-tertiary > input[type=text] {
  display: block;
  margin: auto auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
}

.bulletin-form-tertiary > input[type=password] {
  display: block;
  margin: auto auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
}

.bulletin-form-tertiary > input[type=submit] {
  display: block;
  margin: 20px auto;
  padding: 8px 20px 8px 20px;
  width: 50%;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.account-form-container > h2 {
  text-align: center;
}

.account-form {
  padding-bottom: 0px;
  background: #253a4d;
  padding: 50px 100px 50px 100px;
  border-radius: 4px;
}

.account-label {
  margin-top: 20px;
}

.account-form > input[type=text] {
  display: block;
  margin: 5px auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
}

.account-form > input[type=password] {
  display: block;
  margin: 5px auto 5px auto;
  padding: 12px;
  width: 95%;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
}

.account-form > input[type=submit] {
  display: block;
  margin: 20px auto;
  padding: 8px 20px 8px 20px;
  width: 50%;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.signup-interest-source-grid-container {
  margin: 20px;
  border: 2px solid #192835;
  border-radius: 4px;
}

.signup-sources-interests-form {
  margin-top: 40px;
  background: #253a4d;
  border-radius: 4px;
}

.signup-sources-interests-label {
  font-size: 16pt;
  padding: 15px 0px 0px 15px;
}

.signup-source-interest-image {
  width: 100px;
  height: auto;
  padding: 40px;
  background: #192835;
  margin: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.signup-source-interest-label {
  text-align: center;
  font-size: 12pt;
  margin-bottom: 20px;
}

.signup-sources-interests-submit-container {
  padding: 30px 0px 10px 0px;
}

.signup-sources-interests-submit-container > input[type=submit] {
  display: block;
  margin: 0px auto;
  padding: 8px 20px 8px 20px;
  width: 50%;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.notification-badge {
  border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 8px;
    background: #BE0000;
    border: 1px solid white;
    text-align: center;
}

.message-notification-badge {
  border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 8px;
    background: #BE0000;
    border: 1px solid white;
    text-align: center;
    float: right;
}

.widget-container {
  color: black;
}

.widget-container ::placeholder {
  color: #cccccc;
}

.no-notifications-messages {
  margin: 30px 0px;
  text-align: center;
}

.follow-button {
  padding: 5px 20px;
  text-transform: capitalize;
  font-size: 16pt;
  background: #3d6081;
  color: #FDFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.back-to-top-button {
  display: none;
  padding: 5px 20px 5px 20px;
  text-align: center;
  background: #3d6081;
  color: #FDFFFF;
  border: 2px solid #cccccc;
  border-radius: 20px;
  position: fixed;
  top: 3%;
  left: 50%;
  margin-left: -55px;
  cursor: pointer;
  z-index: 1100;
}

.conversations-container > .widget-container > .rcw-widget-container > .active {
  box-shadow: none;
  border: 1px solid #969696;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-header {
  background: #192835;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-messages-container {
  background: #253a4d;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-messages-container > .rcw-message > .rcw-response > .rcw-message-text {
  background: #495b66;
  color: #FDFFFF;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-messages-container > .rcw-message > .rcw-client > .rcw-message-text {
  background: #486683;
  color: #FDFFFF
}

.rcw-widget-container > .rcw-conversation-container > .rcw-sender {
  background: #3d6081;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-sender > input {
  background: #3d6081;
  color: #FDFFFF;
}

.rcw-widget-container > .rcw-conversation-container > .rcw-sender > button {
  background: #3d6081;
}