body {
  margin: 0px;
  background: #192835;
  color: #FDFFFF;
  font-weight: 500;
}

.content-container {
  margin-top: 50px;
}

.main-container {
  padding: 0px 50px;
}

.search-users-container {
  position: fixed;
  width: 20%;
}

.post {
  margin: 50px 0px;
  padding: 20px;
}

.post > a {
  color: #FDFFFF;
}

.post-title {
  font-size: 20px;
}

.news-story-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-footer-button {
  background: none;
  border: none;
  cursor: pointer;
}

.fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}