body {
  margin: 0px;
  background: #192835;
  color: #FDFFFF;
  font-weight: 500;
}

.content-container {
  margin-top: 50px;
}

.main-container {
  padding: 0px 50px;
}

.search-users-container {
  position: fixed;
  width: 20%;
}

.post {
  margin: 50px 0px;
  padding: 20px;
}

.post > a {
  color: #FDFFFF;
}

.post-title {
  font-size: 20px;
}

.news-story-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.post-footer-button {
  background: none;
  border: none;
  cursor: pointer;
}

.fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.close-chat-button {
  margin-top: 10px;
  border-radius: 5px;
  background: #97e4f3;
  width: 30%;
}

.new-conversation-search-user-container {
  margin: auto;
  width: 80%;
  padding: 5px;
}

.bulletin-modal {
  position: 'absolute';
  width: 400px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  background-color: #192835;
  padding: 20px;
}