body {
  margin: 0px;
  background: #192835;
  color: #FDFFFF;
  font-weight: 500;
  font-family: Haettenschweiler, Arial, Helvetica, sans-serif, sans-serif;
}

::placeholder {
  color: #FDFFFF;
}

.content-container {
  max-width: 80vw;
  margin: 50px auto 0px auto;
}

.main-container {
  padding: 0px 50px;
}

.search-users-container {
  position: fixed;
  width: 20%;
}

.news-story-post {
  margin: 0px 0px 50px 0px;
  padding: 5px 20px;
  background: #253a4d;
  border: 2px solid #203343;
  color: #FDFFFF;
  border-radius: 8px;
}

.user-post {
  margin: 0px 0px 50px 0px;
  padding: 5px 20px;
  background: #253a4d; 
  color: #FDFFFF;
  border: 2px solid #203343;
  border-radius: 8px;
}

.user-post-content-container {
  display: block;
  margin: 20px auto;
  width: 95%;
}

.shared-post-container {
  border-top: 2px solid #3d6081;
}

.shared-post-container > div {
  margin: 30px auto;
  width: 80%;
}

.user-post-username {
  text-decoration: underline;
  font-size: 11pt;
}

.user-post-content {
  padding: 10px;
  font-size: 18pt;
}

.post-footer {
  padding-top: 10px;
  border-top: 2px solid #3d6081;
}

.post-icon {
  padding: 0px 0px 12px 0px;
}

.fixed-content {
  top: 0;
  bottom:0;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
}

.close-chat-button {
  margin-top: 10px;
  border-radius: 5px;
  background: #97e4f3;
  width: 30%;
}

.new-conversation-search-user-container {
  margin: auto;
  width: 80%;
  padding: 5px;
}

.bulletin-modal {
  position: 'absolute';
  width: 400px;
  margin: 50vh auto 0;
  transform: translateY(-50%);
  background-color: #192835;
  padding: 20px;
}

.post-title {
  padding: 20px 0px;
  font-size: 18px;
}

.news-story-content-container {
  display: block;
  margin: 20px auto;
  width: 90%;
  background: #203343;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
}

.news-story-content-container > img {
  width: 100%;
  height: auto;
}

.post-content {
  padding: 20px;
  font-size: 12pt;
}

.news-story-author {
  padding: 20px;
  font-size: 10pt;
}

.post-bottom {
  margin-bottom: 30px;
}

.post-bottom > div {
  font-size: 10pt;
  text-align: right;
}

.news-story-source {
  float: right;
}

.comments-container {
  border-top: 2px solid #3d6081;
}

.comments-list {
  margin: auto;
}

.comment {
  margin: 20px 0px;
  padding: 10px;
  background: #203343;
  border-radius: 10px;
}

.comment-user {
  font-size: 11pt;
  text-decoration: underline;
  padding: 0px 0px 5px 0px;
  cursor: pointer;
}

.comment-content {
  font-size: 14pt;
}

.comment-date {
  text-align: right;
  font-size: 8pt;
}

.comment-form > input {
  display: block;
  margin: 10px auto;
  padding: 8px;
  width: 97%;
  background: #203343;
  color: #FDFFFF;
  border: 2px solid #253a4d;
  border-radius: 20px;
}

.bulletin-form {
  padding-bottom: 100px;
}

.bulletin-form > input[type=text] {
  display: block;
  margin: auto;
  padding: 8px;
  width: 97%;
  background: #203343;
  color: #FDFFFF;
  border: 2px solid #253a4d;
  border-radius: 20px;
}

.bulletin-form > input[type=submit] {
  display: block;
  margin-top: 10px;
  padding: 8px 20px 8px 20px;
  text-align: center;
  background: #203343;
  color: #FDFFFF;
  border: 2px solid #253a4d;
  border-radius: 20px;
  float: right;
}

.user-header {
  background: #394852;
  padding: 10px;
  border-radius: 5px;
}

.user-header-username {
  font-size: 18pt;
  padding-bottom: 20px;
  border-bottom: 2px solid #192835;
}

.user-header-info {
  padding: 20px 20px 0px 20px;
}

.user-header-bio {
  font-size: 10pt;
  padding-bottom: 5px;
}

.user-header-member-since {
  font-size: 10pt;
}

.user-header-count {
  font-size: 10pt;
  padding-bottom: 5px;
  text-align: right;
}

.search-users-list {
  background: #253a4d;
  border-radius: 10px;
}